{% extends "base.html" %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if gatos %}
        <h1>Sí hay gatos</h1>
            {% for gato in gatos %}
                <li>{{ gato.name }} | {{ gato.patas }}</li>
            {% endfor %}
        {% else %}
            <h1>No hay gatos</h1>
    {% endif %}
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        {% if gatos %}
            <h1>Sí hay gatos</h1>
            {% for gato in gatos %}
                <li>{{ gato.name }} | {{ gato.patas }}</li>
            {% endfor %}
        {% else %}
            <h1>No hay gatos</h1>
        {% endif %}
    </ul>
</body>
</html>{% endcomment %}
